<div style='margin: auto; width: 500px'>
<h2>Welcome! <%= @user.email %></h2>

<%= link_to 'Create Todo', new_users_todo_path, :class=>'btn btn-primary'%>
<%= link_to 'View Todo', users_todo_index_path, :class=>'btn btn-primary'%>
</div>